# Custom
*~
*#

# Datasets
data/clean_data/*
data/original_data/*
data/amir_docking_data/*
data/old_files/*
*.xlsx
# Data structures
DS_*
DECAGON_*
TRAIN_*_
PPI_BDM_*
DDI_BDM_*
DTI_BDM_*
TRAIN_*
results_training/

# Open office
*.ods

# Jupyter Notebook
*.ipynb_checkpoints

# Python
*.pyc
__pycache__/
